body{
    background-image: url(./papirjó);
    color: rgb(102, 17, 17);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}

.jogar{
    border-radius: 20px;
    border: solid 5px rgb(102, 17, 17);
}

.calen{
    border-radius: 20px;
    border: solid 5px rgb(102, 17, 17);
}

header{
    color: whitesmoke;
    background-color: rgb(102, 17, 17);
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    font-size: xx-large;
    font-family:Georgia, Times, 'Times New Roman', serif;
}

h1{
    margin:5px ;
    text-align: center;
    text-decoration: underline;
}

.btn{
    background-color: rgb(102, 17, 17);
    color: whitesmoke;
    margin: auto;
    float: right;
}